{% extends "base.html" %}
{% load static %}
{% block content %}
<div role="main" class="main shop py-4">
  <div class="container">
    <div class="masonry-loader masonry-loader-showing">
      <div class="row products product-thumb-info-list" data-plugin-masonry
        data-plugin-options="{'layoutMode': 'fitRows'}">
        {% if products %} {% for product in products %}
        <div class="col-12 col-sm-6 col-lg-3 product">
          <a href="shop-product-sidebar-left.html">
            <span class="onsale">Sale!</span>
          </a>

          <span class="product-thumb-info border-0">
            <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
              <span class="text-uppercase text-1">Add to Cart</span>
            </a>
            <a href="{% url 'product_details' product.slug %}">
              <span class="product-thumb-info-image">
                <img alt="" class="img-fluid" src="{{ product.image.url }}" style="height: 23vh" />
              </span>
            </a>
            <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
              <a href="shop-product-sidebar-left.html">
                <h4 class="text-4 text-primary">{{ product.name }}</h4>
                <span class="price">
                  <del><span class="amount">{{ product.selling_price}}</span></del>
                  <span class="amount text-dark font-weight-semibold">{{product.discount_price}}</span>
                </span>
              </a>
            </span>
          </span>
        </div>
        {% endfor %} {% else %}
        <p>No products available.</p>
        {% endif %}
      </div>
      <div class="row">
        <div class="col">
          <ul class="pagination float-right">
            <li class="page-item">
              <a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}